<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="utf-8" />
    <script src="Scripts/angular.js"></script>
    <script src="JavaScript2.js"></script>
    <title></title>
</head>
<body ng-controller="demoController">
    <button id="top" ng-click="scrollTo('bottom')"> Go To Bottom</button>
    <br/><br/>
         <div>
             <div>.......</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>{{message}}</div>
             <div>aaaaa</div><div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>
             <div>aaaaa</div>





















             ....


































             ......
         </div>
    <br/>

    <button id="bottom" ng-click="scrollTo('top')"> Go To Top</button>

</body>
</html>